<div class="container-sm my-5">
    <div class="row">
        <div class="col-md-5 text-center">
            <img src="https://via.placeholder.com/600x600?text=Portrait" alt="Portrait" class="rounded-circle mx-auto " style="width: 200px;">
        </div>
        <div class="col-md-6 mt-3 contact-text-right">
            <div class="col-md mx-auto">
                <h2>Christian Bingman</h2>
                <hr>
                <p>Phone: 615 969-4470</p>
                <p>Email: christianbingman@gmail.com</p>
            </div>
        </div>
    </div>
    <hr class="my-5">
    <h4 class="my-4 contact-text-right">References</h4>
    <div class="card-deck">
        <div class="card p-3 mx-auto" style="width: 18rem;">
            <h5 class="card-title">uBreakiFix - Chicago South Loop</h5>
            <h6 class="card-subtitle mb-2 text-muted">January 2019 - Current</h6>
            <p class="card-text">Name: Thomas Brame</p>
            <p class="card-text">Phone: (312) 226-9007</p>
            <p class="card-text">Email: southloop@ubreakifix.com</p>
        </div>
        <div class="card p-3 mx-auto" style="width: 18rem;">
            <h5 class="card-title">uBreakiFix - Tennessee Mount Juliet</h5>
            <h6 class="card-subtitle mb-2 text-muted">January 2019 - Current</h6>
            <p class="card-text">Name: Chris O'Brian</p>
            <p class="card-text">Phone: (615) 800-8252</p>
            <p class="card-text">Email: mountjuliet@ubreakifix.com</p> 
        </div>
    </div>
</div>
