<div class="customImgContainer">
    <img src="https://via.placeholder.com/1920x1080?text=Cover Image" alt="" class="img-fluid">
    <div class="overImage">
        <div class="col">
            <h3 class="text-dark">
                Computer Scientist
            </h3>
            <div class="row flex-nowrap">
                <button type="button" class="btn btn-outline-primary btn-lg m-2 ml-3" routerLink="/projects">Projects</button>
                <button type="button" class="btn btn-outline-secondary btn-lg m-2" routerLink="/about">About Me</button>
            </div>
        </div>
    </div>
</div>

